<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heima.notification.mapper.ImSessionMapper">

    <select id="selectByUserId" resultType="com.heima.model.notification.pojos.ImSession">
        SELECT * FROM im_sessions
        WHERE user1_id = #{userId} OR user2_id = #{userId}
        ORDER BY last_message_at DESC
    </select>

    <select id="selectBySessionKey" resultType="com.heima.model.notification.pojos.ImSession">
        SELECT * FROM im_sessions WHERE session_key = #{sessionKey}
    </select>
</mapper>